---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const essays = await getCollection("essays");
const sortedEssays = essays.filter((essay) => !essay.data.draft).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Lab Notes">
  <p>Welcome to my blog <a href="/about/">about my home molecular virology lab</a>. Below are my long-form essays. See also my <a href="/posts/">social media posts</a>.</p>
  {
    sortedEssays.map((essay) => (
      <article>
        <h2>
          <a href={`/essays/${essay.slug}`}>{essay.data.title}</a>
        </h2>
        <p class="date">
          {essay.data.date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
            timeZone: "UTC",
          })}
        </p>
        {essay.data.description && <p>{essay.data.description}</p>}
      </article>
    ))
  }
</BaseLayout>
