---

---

<div class="essay-note">
    <slot />
</div>

<style>
    .essay-note {
        font-style: italic;
        color: #888;
        margin-bottom: 2rem;
        font-size: 0.95em;
    }
</style>
