---
const { title, showHeaderImage = true, showNav = true, showTitle = true } = Astro.props;
import { Image } from "astro:assets";
import labHeader from "../assets/lab-short.jpg";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title} | RByers Lab</title>
  </head>
  <body>
    {
      showNav && (
        <nav>
          <div class="brand">
            <a href="/">RByers Lab</a>
          </div>
          <ul>
            <li>
              <a href="/">Essays</a>
            </li>
            <li>
              <a href="/posts/">Posts</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
          </ul>
        </nav>
      )
    }

    {showHeaderImage && <img src="/lab-short.jpg" alt="RByers Lab Benchtop view" class="header-image" />}

    <main>
      {showTitle && <h1>{title}</h1>}
      <slot />
    </main>
    <footer>
      &copy; {new Date().getFullYear()} Rick Byers
    </footer>
  </body>
</html>
